<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB2ZNxEfKiyZSFJtVbCZ5ld9yfCcePKeNk</string>
	<key>GCM_SENDER_ID</key>
	<string>674298603160</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.toangtv.myFirebaseDemoApp</string>
	<key>PROJECT_ID</key>
	<string>myfirebasedemoapp-1333e</string>
	<key>STORAGE_BUCKET</key>
	<string>myfirebasedemoapp-1333e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:674298603160:ios:1f2423ffb9359d9a5092ed</string>
</dict>
</plist>